/* index page */

h1{
    text-align: center;
    color: black; margin: 40px;
   
}
body{
    background: rgb(180, 220, 180);}
    img{
    width: 600px;
    height: 300px;
    text-align: center;
    float: right;
}
    h2{
        text-align: center;
        color: indigo;
        text-transform: uppercase;
        font-style: italic;
    }
    div{
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   #yog{
    color: green;

   }
   button{
    color: rgb(10, 21, 59);
    background-color: rgb(83, 180, 93);
    font-style:italic ;


   }
   .login-container {
  background: rgb(64, 166, 91);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  MARGIN: 100PX 200PX 100PX 500PX;
}

.login-container h1 {
    margin-bottom: 30px;    
    border-color: black;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #060606;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}
/* information page */
h1{
    text-align: center;
    color: black; margin: 40px;
   
}
body{
    background-color:rgb(168, 198, 209);
    
}
img{
    width: 600px;
    height: 300px;
    text-align: center;
    float: right;
}
    h2{
        text-align: center;
        color: indigo;
        text-decoration:underline;
        text-transform: uppercase;
    }
    div{
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   #yog{
    color: green;
   }
   #abc{
  font-style: italic;
   }
   /* about page */
   h1{
    text-align: center;
    color: rgb(85, 34, 2); margin: 40px;
    text-transform: uppercase;
}
body{
    background-color:#8ade96;
    
}
img{
    width: 600px;
    height: 300px;
    text-align: center;
    float: right;
}
    h2{
        text-align: center;
        color: rgb(22, 85, 2); margin: 40px;
        
        text-decoration:underline;
        text-transform: uppercase;
    }
    div{
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   #yog{
    color: green;
   }
   #abc{
  font-style: italic;
  text-align: center;
   }
   /* sections page */
   a{
    font-style: italic;
   }
   b{
    font-style: italic;
    text-decoration: underline;
   }
   .yoga{
    text-align: center;
        color: rgb(54, 4, 4);
        text-transform: uppercase;
        font-style: italic;
        text-decoration: underline;
   }
   .asan{
    text-align: center;
        color: black;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        height: 20px;
        font-size:30px; 
   }

   .image1{
    width: 600px;
    height: 400px;
    text-align: center;
    float: right;
   margin: 10px;}
   .image2{
    width: 600px;
    height: 400px;
    text-align: center;
    float: left;
   margin: 10px;}
   .image3{
    width: 600px;
    height: 400px;
    text-align: center;
    float: right;
   margin: 10px;}
   #image4{
    width: 600px;
    height: 400px;
    text-align: center;
    float: left;
   margin: 10px;}
   #image5{
    width: 600px;
    height: 400px;
    text-align: center;
    float: right;
   margin: 10px;}
   
   .sec1{
    height: 500px;}
   .sec2{
   height: 500px;
   }
   .sec3{
    height: 500px;
   }
   #sec4{
    height: 500px;
   }
   #sec5{
    height: 500px;
   }

   .work{
        color: black;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        font-size:30px;
   }
   body{
    background-image: url(https://slidechef.net/wp-content/uploads/2024/01/Simple-Yoga-Background.jpg);
   }
   .big{
background-image: url(https://img.freepik.com/free-vector/elegant-watercolor-brush-stroke-design-soft-blue-background_1055-17690.jpg?semt=ais_hybrid&w=740&q=80);  
 }
 #last{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: black;
    margin: 20px;
   }
   #details{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: black;
   font-weight: bolder;
    margin: 20px;
   }
   #feed{
width: 100%;
  padding: 12px;
  border: 1px solid #060606;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
   }